<!DOCTYPE html>
<html>
<head>
<title>Placify <% if not @title.nil? %>:: <%= @title %><% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
  <link href="/css/placify.css" rel="stylesheet" media="screen" />
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Placify</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/places/">Places</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users">Users</a></li>
      </ul>

      <form class="navbar-search pull-left" method="post" action="/places/search">
        <input name="search_query" type="text" class="search-query" placeholder="Search">
      </form>

      <ul class="nav pull-right">
      <% if logged? %>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= logged_user.username %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/users/preferences"><i class="icon-cog"></i> Preferences</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
            </ul>
        </li>
      <% else %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <% %w[error success warning info].each do |key| %>
      <% if flash[key] %>
        <div class="alert alert-<%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    <% unless @title.nil? %>
      <h2><%= @title %></h2>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <div class="container-fluid">
      <p class="muted">Copyright &copy; <a href="#">Placify</a>. Some rights reserved. Made by Team FML</p>
    </div>
  </div>
</body>
</html>
